<div class="row">
    <div class="container">
        <div class="logo">
            <a  href=""><img src="../../../assets/Logo color.png" id="logo"></a>
        </div>
        <div class="redes">       
            <div class="boton">
                <button type="button" class="btn btn-outline-light">INGRESO</button> 
            </div>
            <div>
                <a href="" target="_blank"><img src="../../../assets/instagram color.png"
                        id="instagram"></a>
                <a href="" target="_blank"><img
                        src="../../../assets/facebook color.png" id="facebook"></a>
                <a href="" target="_blank"><img src="../../../assets/twitter color.png"
                        id="twitter"></a>
                <a href="" target="_blank"><img src="../../../assets/github color.png"
                        id="github"></a>                
                <!--<button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR
                    SESION</button>
                -->
            </div>
        </div>
    </div>
</div>